# Archivos de compilación
build/
*.o
*.exe
*.out
*.app

# Archivos del sistema
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Archivos de IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Archivos de depuración
*.dSYM/
*.su
*.idb
*.pdb

# Archivos temporales
*.tmp
*.temp
*.log

# Archivos específicos del proyecto
estructura_persona
test_estructura_persona
